html {
  scroll-behavior: smooth;
}

/* ADD CSS Font Sizing: https://css-tricks.com/books/volume-i/scale-typography-screen-size */

.nav-link{
  scroll-behavior: auto;
}

.headerUpdate{
 padding-top: 100px;
 padding-bottom: 200px;
}

#headerButton{
  margin-top: 75px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  transition: all .5s ease-in-out;
}

#headerButton:hover{ transform: scale(1.2); }

#method1Start{
  padding-bottom: 0px;
}

#portfolio{
  margin-top: 100px;
  margin-bottom: 200px;
}

.guidedLogStep{
	background-color: #2C3E50;
	color: white;
	border-radius: 25px;
	box-shadow: 5px 5px 4px #1a252f;
	margin-top: 35px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: all .25s ease-in-out;
}

.updateDownload{
  margin-top: 100px;
  margin-bottom: 100px;
}

.sizeUpdate{
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%;
}

.sizeUpdateZip{
  margin-left: 450px;
  margin-right: 450px;
}

.newLine{
  border: 10px solid black;
  border-radius: 5px;
}

.guidedLogStep:hover { transform: scale(1.05); }

.generatedMessage{
	background-color: white;
	border-radius: 25px;
	color: black;
	padding-top: 40px;
	padding-bottom: 40px;
	transition: all .5s ease-in-out;
  margin-left: 20%;
  margin-right: 20%;
}

.generatedMessage:hover{
	background-color:  #2C3E50;
	border-radius: 25px;
	color: white;
}

.imageUpdate{
	background-color: white;
	border-radius: 25px;
	height: 500px;
	width: auto;
}

.sdwLogAssistance{
	margin: 0 auto;
    width: 1000px;
    color: black;
}

.card{
	margin-top: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 4px #1a252f;
    margin-bottom: 10px;
    transition: all .25s ease-in-out;
    background-color:  #2C3E50;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
.card:hover { transform: scale(1.015); }

.card-1{
	margin-top: 0px;
}

.card-9{
	text-align: center;
}

.inputFile{
	margin-left: 420px;
}

.card-title{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:  #2C3E50;
	color: white;
}

.form-group-1{
	color: white;
}

.generateAssistanceButton{
  color: white;
  text-decoration: none;
}
.generateAssistanceButton:hover{
  color: white;
  text-decoration: none;
}

.textUpdateButton{
  text-decoration: none;
  color: white;
}

#methodCard1{
  margin-left: 25%;
  margin-right: 25%;
}

#methodCard2{
  margin-left: 25%;
  margin-right: 25%;
}

/**************************************************/
/***************** MODAL BUTTON *******************/
/**************************************************/
/* The Modal (background) */
.modal {
  font-family: arial;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: blue;
  color: white;
  font-family: arial;
}
.modal-body {padding: 2px 16px;}
.modal-footer {
  padding: 2px 16px;
  background-color: blue;
  color: white;
  font-family: arial;
}
/**********************MODAL|END**************************/